body {
    background-color: $beige;
    color: $black;
    font-family: $sofia;

    #app {
        text-align: center;

        .error {
            color: red;
            font-weight: bold;
            list-style-type: none;
            margin-top: 1em;
        }

        hr {
            border-color: $black;
        }

        button {
            background: $dark-brown;
            transition: background-color 0.62s ease;
            box-sizing: border-box;
            border: none;
            margin: 0.5em;
            border-radius: 0.8em;
            text-align: center;
            width: 6em;
            height: 2.5em;
            font-weight: 600;
            font-size: size(12);
            text-transform: capitalize;

            &:hover {
                background-color: $light-brown;
            }

            &:active {
                background-color: $green;
            }

            color: $light-gray;
        }

        select {
            appearance: none;
            border: 0;
            outline: 0;
            /* Personalize */
            width: 12rem;
            height: 2rem;
            padding: 0.5rem 4rem 0.5rem 1rem;
            margin: auto 1rem;

            background: url("../white_arrow.svg") no-repeat right 0.8em center / 1.4em,
                $light-brown;
            color: $light-gray;
            border-radius: 0.25em;
            box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;

            /* Remove IE arrow */
            &::-ms-expand {
                display: none;
            }

            /* Remove focus outline */
            &:focus {
                outline: none;
            }

            /* <option> colors */
            /*option {
            }*/
        }

        .ortext {
            transform: translateY(10px);
        }
    }
}