.similarContainer {
    .image_container {
        display: flex;
        max-width: 100%;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        padding: 0 1em;

        figure img {
            width: 250px;
            height: 250px;
        }
    }
}