.similarContainer {
    .image_container {
        display: flex;
        max-width: 100%;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        padding: 0 1em;

        figure img {
            width: 250px;
            height: 250px;
        }
    }

    input[type="number"] {
        -webkit-appearance: none;
        appearance: none;
        border: 0;
        outline: 0;
        background-color: $light-brown;
        color: $black;
        width: 12rem;
        padding: 0.5rem 1rem;
        margin: auto 1rem;
        border-radius: 0.25em;

        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            color: $black;
            background-color: inherit;
        }
    }
}